* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#slider-container-2{
  margin-bottom: 20px;
}
h1 {
  margin-top: 20px;
  text-align: center;
}

#nextBtn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
  cursor: pointer;
}
#prevBtn:hover {
  transform: scale(1.2);
  transition: 0.5s ease;
  cursor: pointer;
}
